*.class
.DS_Store
*.jar

war/messaging/
war/WEB-INF/classes
war/WEB-INF/deploy/
war/WEB-INF/appengine-generated/

.google_apis/
.gwt/.gwt-log
war/google0cbaca682984cad2.html

war/dataMessagingToken.txt

gwt-unitCache/
.apt_generated/

